*{
  padding: 0;
  margin:0;
  box-sizing:border-box;
}
body{
  background-color: #BA8DB3;

}
img{
  height: 200px;
}
h1{
  padding-top: 30px;
  font-size: 100px;
  color: black;
    font-family: 'Poppins', sans-serif;
}
.description{
  margin-top: 15px;
  display:flex;
  justify-content: center;
  height: 150px;
}
#desc{
  font-family: 'Poppins', sans-serif;
  background-color:#FFD1F8;
  width:700px;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
.header{
  margin-top: 20px;
  display:flex;
  justify-content: center;
}
h2{
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
  margin-top: 30px;
  margin-left: 500px;
}
#prideimg{
  height:250px;
}
.row-img{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.row-names{
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: bold;
}
#pridep{
  margin-left: 55px;
}
#pocp{
  padding-left:35px;
}
.about{
  margin-top: 15px;
  display:flex;
  justify-content: center;
  height: 150px;
}
#us{
  font-family: 'Poppins', sans-serif;
  background-color:#FFD1F8;
  width:700px;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
.footer{

  width: 100%;
  background-color: white;
}
.end{
  display: flex;
  align-items: center;
}
